/*
    Put anything you reference with "url()" in ../assets/
    This way, you can minify your application, and just remove the "source" folder for production
*/
.app-panels {
    background-color: #000000;
}

.app-panels > * {
    background-color: #555;
}

.onyx-toolbar {
    height: 54px;
}

.list-item {
    width: inherit;
    height: 32px;
    padding: 10px;
    color: white;
    background-color: #333333;
    border-bottom: 1px solid #0E0E0E;
    font-size: 18px;
}

.list-item.onyx-selected {
    background-color: MidnightBlue;
}

.center {
    text-align: center;
    margin: 0px auto;
}

.horizontal-buttons {
    display: block;
    margin: 1% auto;
    min-width: 130px;
    min-height: 30px;
    border-radius: 5px;
}

.horizontal-groups {
    width: 90%;
    margin: 1% auto;
    border-radius: 5px;
    padding: 1%
}

.bottom-toolbar {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.top-title {
    display: inline-block;
    text-align: center;
    width: 100%;
}

/* Groupbox styling - make them look a bit more like traditional webOS GroupBoxes */
.webosstyle-groupbox {
	box-shadow: inset 0px 1px 1px rgba(255,255,255,0.5); 
	padding: 5px; 
	border-radius: 8px; 
	border-width: 1px;
	margin-bottom: 10px;
	background-color: #383838;
	border-color: #303030;
}

.webosstyle-groupbox-header {
	color: #ffffff; 
	padding-left: 10px; 
	padding-bottom: 5px; 
	font-weight:bold; 
	font-size: 14px;
	text-transform:uppercase;
}

.webosstyle-groupbox-body, .webosstyle-groupbox-body-single {
	box-shadow: 0px 0px 1px rgba(255,255,255,0.5); 
	border-radius: 8px;
	background-color: #444;
}

.webosstyle-groupbox-body > * {
	border-color: #aaaaaa;
	border-style: solid; 
	border-width: 0 1px 1px 1px; 
	padding: 10px;
}

.webosstyle-groupbox-body > *:first-child {
	border-radius: 8px 8px 0 0;
}

.webosstyle-groupbox-body > *:last-child {
	border-radius: 0 0 8px 8px;
}

.webosstyle-groupbox-body-single > * {
	border-color: #aaaaaa;
	border-style: solid; 
	border-width: 0 1px 1px 1px; 
	padding: 10px;
	border-radius: 8px;
}
/* End Groupboxes */

/* Style a list like a groupbox. Needs to be done with an aroundlist */
.webosstyle-list-groupbox-top {
	padding: 5px; 
	border-top-left-radius: 8px; 
	border-top-right-radius: 8px; 
	border-width: 1px;
	background-color: #383838;
	border-color: #303030;
}

.webosstyle-list-groupbox-top-collapsed {
	border-bottom-left-radius: 8px; 
	border-bottom-right-radius: 8px; 
}

.webosstyle-list-groupbox-header {
	color: #ffffff; 
	padding-left: 10px; 
	font-weight:bold; 
	font-size: 14px;
	text-transform:uppercase;
}

.webosstyle-list-groupbox-item { 
	padding-left: 5px; 
	padding-right: 5px; 
	border-width: 1px;
	background-color: #383838;
	border-color: #303030;
}

.webosstyle-list-groupbox-item-last {
	padding-bottom: 5px; 
	border-radius: 0 0 8px 8px;
}

.webosstyle-list-groupbox-item-content {
	border-color: #aaaaaa;
	border-style: solid; 
	border-width: 0 1px 1px 1px;  
	padding: 10px;
	background-color: #444;
}

.webosstyle-list-groupbox-item-content-first {
	border-radius: 8px 8px 0 0;
}

.webosstyle-list-groupbox-item-content-last {
	border-radius: 0 0 8px 8px;
}
/* End List Groupboxes */

/* Style for settings items */
.settings-item {
	padding-top: 10px; 
	padding-right: 10px;
}

.settings-title-picker {
	padding-top: 10px;
}

.settings-title-toggle {
	padding-top: 5px;
}

.settings-checkbox {
	margin-right: 10px; 
	margin-top: 2px;
}

.settings-picker-header {
	color: white;
}
/* End Settings Items */

/* Style for Manage Feeds Dialog */
.managefeedslist-feed-item > * {
	display: inline-block;
	vertical-align: middle;
}
.managefeedslist-feed-item-enable-toggle {
	float: right;
}
/* End Manage Feeds Dialog */